/* @import "tailwindcss";
html,body{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, sans-serif;
  background: #f8fafc;
} */
  @import "tailwindcss";

html {
  overflow-y: scroll; /* 🔥 FIX vibration */
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* ensures full height */
}

body {
  font-family: Arial, sans-serif;
  background: #f8fafc;
}